<div class="secondary">
  <div class="graphic">
    <h1 class="bigh1">- RULES -</h1>
    <h3>Let's keep this fun for everyone. Wholesome shit only!</h3>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="secondarygraphic">
          <h1>Creators:</h1>
        </div>
          <ul class="border">
            <li>Any art can be used as a profile picture for any platform.</li>
            <li>If you share someones art you must credit them (if they provide links such as insta or twitter, if they do not then feel free to post anyways)</li>
            <li>Art cannot be used for any other promotional material without contacting the artist first and getting their express permission</li>
            <li>You may not alter any art submitted (removing an artists watermark, cropping out a watermark etc.) without the express permission of the artist for your profile picture/sharing</li>
          </ul>

      </div>


      <div class="col-md-4">
        <div class="secondarygraphic">
          <h1>Artists:</h1>
        </div>
          <ul class="border">
            <li>Submission of art automatically agrees that the creator can use said art as a profile picture, or can be shared on any platform (provided the creator does not alter the art and credits you if you provide credit details such as insta/twitter links)</li>
            <li>Art must be less than 1000x1000 pixels when submitted, and on the website will have a max-width of 700 pixels, so submit accordingly. (sorry guys storage is expensive for a free website)</li>
            <li>One submission per IP per day (Again, storage, and also to stop spammers and ensure people are only submitting their best work)</li>
            <li><strong>No nudity/sexualized content</strong></li>
            <li><strong>No content that shames other creators or starts drama</strong></li>
            <li><strong>No Shipping</strong></li>
          </ul>
        </div>


      <div class="col-md-4">
        <div class="secondarygraphic">
          <h1>Everyone Else:</h1>
        </div>
          <ul class="border">
            <li>Don't be a toxic dickhead or your ip will be permabanned ON FIRST OFFENSE!!! This is a fun space where people support each other. <strong>IF you don't like someones art just move on.</strong></li>
            <li>If someone doesn't have their post flagged to allow criticism then do not give your input at all.</li>
            <li>If someone DOES have their post flagged to allow criticism that means any criticism must be CONSTRUCTIVE, again any toxicity is a permaban. Examples of what would be considered toxic and what is constructive can be found below.</li>

          </ul>
        </div>
      </div>
      <div class="line"></div>
      <div class="row">
        <h1 class="fullmargin">CRITICISM EXAMPLES:</h1>
        <ul>
          <br>
          <li><strong>CONSTRUCTIVE:</strong> "Hey this is really good! The only thing I would say is a bit off putting is that your leading lines don't all lead in the same direction, they are just slightly off. (it doesn't seem like you did that intentionally, if you did then disregard my comment)"</li>
          <br>
          <li><strong>CONSTRUCTIVE:</strong> "All good except you are using colors that don't mesh very well. Try using the adobe color wheel to find a good color palette"</li>
          <br>
          <li><strong>CONSTRUCTIVE:</strong> "Try painting this same scene but from a lower viewer perspective angle. I think it would add a lot of dimension"</li>
          <br>
          <li><strong><em>NOT</em> CONSTRUCTIVE:</strong> "I really don't like this. Everything is wrong, you should probably go back to art school.</li>
          <br>
          <li><strong><em>NOT</em> CONSTRUCTIVE:</strong> "Abysmal. You are a terrible artist and should just stop. Try something more your speed like tying nooses"</li>
        </ul>
      </div>

  </div>
  <div class="line"></div>
</div>

