<div class="left"></div>
<div class="right"></div>
<div class="secondary">
  <div class="container">
    <div class="space"></div>

    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-4">
        <h1>Why Fan.Art?</h1>
        <div class="fullbox">
          <div class="box" (click)="video1()">
            <h1>How We Work!</h1>
          </div>
          <div class="box" (click)="video2()">
            <h1>Support Us!</h1>
          </div>

        </div>

      </div>
      <div class="col-md-4">

        <iframe width="100%" height="300px"
        [src]="videoSrc | safe">
        </iframe>

      </div>
      <div class="col-md-2"></div>
    </div>


    <div class="row">
      <h1>It's just better here...</h1>
      <i>Here at Fan.Art we take creating a good, kind community seriously.</i>

      <div class="block">
        <h1>Connect better</h1>
        <div class="block2">
          <h2>We make it easier for artists and creators to connect in a safe and secure manner</h2>
          <p>Fan.Art connects creators and artists in an easy, safe way for both parties. If a creator wishes to contact an artist to get usage rights for a piece the artist did or to commision the artist for something new, the creator can simply email the artist using our fan.art email account, and by including their private or business email in the message they can start up a private dialogue with the artist. This way artists and creators can contact each other privately without third party applications, but also no one has to put their private info out for the public to see. The Fan.Art way is more secure, more reliable, and more private. Simply better.
          </p>
        </div>
      </div>

      <div class="block">
        <h1>Cut the toxicity</h1>
        <div class="block2">
          <h2>We have clear rules and heavy moderation to cut away the filth</h2>
          <p>Here at Fan.Art we believe in creating a kind, pleasant environment for everyone. That's why we have heavy moderation, strict rules, and heavy-handed punishments for any offenders. Comments are supposed to be a place to build each other up and create a stronger community, not to tear each other down for personal enjoyment. No longer should a creator be scared to look at the comments in fear of blatant sexism, threats, or crass insults. Here at Fan.Art we want to see creators smile while looking at all the comments, proud of their community. As it should be.
          </p>
        </div>
      </div>

      <div class="block">
        <h1>The best art</h1>
        <div class="block2">
          <h2>All the beauty and jaw-dropping awesomeness, all in one place</h2>
          <p>With our super secret special advanced algorithms, the content you all like is pushed to the front, but all submitted art still has a very good chance of being see. No more submitting your beautiful art just for it to get lost among 1000 other submissions. Here every post gets seen by someone, while still pushing the best to the top. We have the best art, but that's only because we have the best artists :)
          </p>
        </div>
      </div>

    </div>

    <div class="line"></div>

    <div class="row">
      <div class="space"></div>
      <h1>This site was built by Andrew Link</h1>
      <p>Check me out here:</p>
      <ul>
        <li>Insta: <a href="https://www.instagram.com/pseudomoniker/" target="_blank">instagram.com/pseudomoniker</a></li>
        <li>LinkedIn: <a href="https://www.linkedin.com/in/pseudomoniker" target="_blank">linkedin.com/in/pseudomoniker</a></li>
        <li>Github: <a href="https://github.com/sudomoniker" target="_blank">github.com/sudomoniker</a></li>
        <li>My personal portfolio: (Check this out especially please, it's super dope) <a target="_blank" href="https://linkeddesign.online">linkeddesign.online</a></li>
      </ul>
      <h1>We need help!</h1>
      <p>Running the servers for this site is not cheap, and as it grows it will only get more expensive. Please consider donating or subscribing to my patreon!</p>
      <p>Patreon: <a href="#" target="_blank">Working on it!</a></p>
      <p>Donate: <a href="#" target="_blank">Working on it!</a></p>
    </div>


  </div>
</div>
