<div class="primary">
  <div class="logo">
    logo
  </div>

  <div class="sidenav" (click)="toggleClass()">
    <svg id="menu" viewBox="0 0 100 100">
      <path [class.topactive]="classApplied" class="line top" d="M 20,30 H 80"/>
      <path [class.middleactive]="classApplied" class="line middle" d="M 20,50 H 80" />
      <path [class.bottomsvgactive]="classApplied" class="line bottomsvg" d="M 20,70 H 80"/>
    </svg>
  </div>
  <div class="login" (click)="account = true">
    LOGIN
  </div>
</div>

<div *ngIf="account" class="background">
  <div class="loginmenu">
    <div class="closelogin" (click)="account = false">
      <svg id="menu2" viewBox="0 0 100 100">
        <path class="line2 top topactive" d="M 20,30 H 80"/>
        <path class="line2 middle middleactive" d="M 20,50 H 80" />
        <path class="line2 bottomsvg bottomsvgactive" d="M 20,70 H 80"/>
      </svg>
    </div>

    <form [formGroup]="loginForm">
      <div class="logincard" *ngIf="login">
        <h1>LOGIN</h1>
        <label>Username: </label><input type="text" formControlName="username">
        <label>Password: </label><input type="password" formControlName="password">
        <button (click)="onLogButtonClick()" [disabled]="!loginForm.valid">Login</button>
        <p>Don't have an account yet?<span (click)="login = false; create = true;"> - Create Account - </span></p>
      </div>
    </form>

    <form [formGroup]="createForm">
      <div class="createcard" *ngIf="create">
        <h1>CREATE ACCOUNT</h1>
        <label>Username: </label><input type="text" formControlName="createUsername">
        <label>Email: </label><input [email]="true" type="email" formControlName="createEmail">
        <label>Password: </label><input type="password" formControlName="createPassword">
        <label>Re-Enter Password: </label><input type="password" formControlName="createPassword2">
        <button (click)="onLogButtonClick()" [disabled]="!createForm.valid">Create Account</button>
        <p>Already have an account?<span (click)="create = false; login = true;"> - Log In - </span></p>
      </div>
    </form>


  </div>
</div>

<div *ngIf="navOpen" class="fullscreen" [@create]>
  <div class="container-fluid">
    <div class="row">


      <div class="col-sm-9">
        <div class="images">

          <div class="imgwrapper">
            <div class="back" [@imageback] *ngIf="home"></div>
            <div class="back2"[@imageback2] *ngIf="home"></div>
            <div class="front" [@imagefront] *ngIf="home">
              <img src="../../assets/loonie.jpg">
              <div class="text">
                <h1></h1>
                <p></p>
              </div>
            </div>
          </div>

          <div class="imgwrapper">
            <div class="back" [@imageback] *ngIf="browse"></div>
            <div class="back2" [@imageback2] *ngIf="browse"></div>
            <div class="front" [@imagefront] *ngIf="browse">
              <img src="../../assets/loonie.jpg">
              <div class="text">
                <h1></h1>
                <p></p>
              </div>
            </div>
          </div>

          <div class="imgwrapper">
            <div class="back" [@imageback] *ngIf="rules"></div>
            <div class="back2" [@imageback2] *ngIf="rules"></div>
            <div class="front" [@imagefront] *ngIf="rules">
              <img src="../../assets/loonie.jpg">
              <div class="text">
                <h1></h1>
                <p></p>
              </div>
            </div>
          </div>

          <div class="imgwrapper">
            <div class="back" [@imageback] *ngIf="about"></div>
            <div class="back2" [@imageback2] *ngIf="about"></div>
            <div class="front" [@imagefront] *ngIf="about">
              <img src="../../assets/loonie.jpg">
              <div class="text">
                <h1></h1>
                <p></p>
              </div>
            </div>
          </div>


        </div>
      </div>

      <div class="col-sm-3">
        <div class="links">
          <ul>
            <li (mouseover)="home = true;
            browse = false;
            rules = false;
            about = false;">
              <a routerLink="home">
                HOME
              </a>
            </li>
            <li (mouseover)="browse = true;
            home = false;
            rules = false;
            about = false;">
              <a routerLink="viewer">
                BROWSE
              </a>
            </li>
            <li (mouseover)="rules = true;
            browse = false;
            home = false;
            about = false;">
              <a routerLink="rules">
                RULES
              </a>
            </li>
            <li (mouseover)="about = true;
            browse = false;
            rules = false;
            home = false;">
              <a routerLink="about">
                ABOUT FAN.ART
              </a>
            </li>
          </ul>
        </div>
      </div>


    </div>
  </div>
</div>
